<center><h1>{{post.title}}</h1></center>
<p>{{post.body}}</p>
<h5>{{post.pub_date}}</h5>
{% if tags %}
    <p>
        {% for tag in tags %}
            <tag>#{{ tag }}</tag>
        {% endfor %}
    </p>
{% endif %}
<center><h4>Comments</h4></center>
{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}
<form action="{% url 'arch_blog:comment' post.id %}" method="POST">
    {% csrf_token %}
    <textarea name="body" id="commnet_body">Put your comment here...</textarea><br>
    <input type="text" name="author" id="comment_author"/><br>
    <input type="submit" value="Comment"/>
</form>
{% if comments %}
    {% for comment in comments %}
    <p>{{ comment.body }}</p>
    <p><b>{{ comment.author }}</b>, <i>{{ comment.pub_date }}</i></p>
    {% endfor %}
{% else %}
    <p>No comments yet. Be the first! :)</p>
{% endif %}